<script>
        $(document).ready(function ()
        { 
                        /*Operator-User*/
        loadPage("./views/logged_user_main_menu.html", "#logged_user_main_menu", "Y");
        loadPage("./views/logged_main_menu_left_bar.html", "#logged_user_left_bar", "Y");
        loadPage("./views/logged_user_content.html?parameterForViewTemplate="+DEFAULT, "#content", "Y");  
        loadPage("./views/footer.html", "#footer", "Y");
          
    
        });

        function refreshData(){

          ListTotalBilledInvoices( '37',fillListTotalBilledInvoices, failListTotalBilled, workingDesignPopupFNCallback );

          listTotalBilledInvoicesBiAnnual( '37',fillListTotalBilledInvoicesBiAnnual, failListTotalBilledBiAnnual, workingDesignPopupFNCallback );

          listTotalBilledInvoicesAnnual( '37',fillListTotalBilledInvoicesAnnual, failListTotalBilledAnnual, workingDesignPopupFNCallback );
          
          closePopupElementsActions()
        }
</script>
    
        <!-- ==== Header ==== -->
        <!--<div class="main-header" id="header"></div>-->
        <!-- ==== End Header ==== -->

        <!-- ==== loged admin user menu ==== -->
        <div class="main-header" id="logged_user_main_menu"></div>
        <!-- ==== End Header ==== -->

        <!-- ==== loged admin user bar ==== -->
        <div id="logged_user_left_bar"></div>
        <!-- ==== End Header ==== -->

        <!-- ==== Content ==== -->
        <div class="content-wrapper" id="content"> </div>
        <!-- ==== End Content ==== -->

        <!-- ==== Footer ==== -->
        <div id="footer"></div>
        <!-- ==== End Footer ==== -->
    