
<script>
    $(document).ready(function ()
    { 
            loadPage("./views/header.html", "#header", "Y");
            
            loadPage("./views/user_login.html", "#content", "Y");

            loadPage("./views/footer.html", "#footer", "Y");

    });
</script>
            <div id="header"> </div>

            <div id="content"> </div>

            <div id="footer"></div>
