<style>
#viewerModeButton:hover
{
    opacity: 0.5;
}

.inputTextGold:focus 
{ 
    border:1px solid;
    box-shadow: 0 0 15px #006285;
    border-color: #006285;
}

.sendUserAndPassButtonStyle
{
  height: 40px; 
  width: 100%; 
  color: #FFF;  border:1px solid; 
  border-color: #006285; 
  cursor: pointer; 
  background-color:#006285; 
  text-align: center; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

.sendUserAndPassButtonStyle:hover
{
  box-shadow: 0 0 15px #006285;
  border-color: #006285;
}

</style>



<script> 

function getDataLogin()
{
    addClassElement( 'bodyProject', 'hold-transition skin-blue sidebar-mini' );
     URL_NAVIGATE = "bodies/app_users.html";
     showSectionContent(URL_NAVIGATE, "#bodyProject", "bodyProject");
}

function loginCallback(data)
{
     addClassElement( 'bodyProject', 'hold-transition skin-blue sidebar-mini' );
     URL_NAVIGATE = PROJECT_URL+"bodies/app_users.html";
     showSectionContent(URL_NAVIGATE, "#bodyProject", "bodyProject");
}

function workingDesignPopupLoginFNCallback()
{
    showElement("divIframeView");
}

function incorrectLogin(data)
{
  var message = data['message'];
  document.getElementById('loginIncorrect').innerHTML = message;
  visibilityElement('loginIncorrect');
}

</script>
     
  <head>
    <link rel="shortcut icon" href="./LOGOS/gc-favicon.png">
    <link rel="stylesheet" href="./assets/login/css/style.css">
  </head>

  <div class="form" style="height: 300px;">
      <div class="tab-content">
          <div id="login">   
              <div class="field-wrap">
                <label>
                  CUIT<span class="req"> *</span>
                </label>
                <input class="inputTextGold" id="userCuit" type="" autocomplete="false"/>
              </div>
              <div class="field-wrap">
                <label>
                  Clave<span class="req"> *</span>
                </label>
                <input class="inputTextGold" id="userPass" type="password" autocomplete="false"/>
              </div>
              <input readonly value="Ingreso" class="sendUserAndPassButtonStyle" id="sendUserAndPassButton"/>
              <br>
              <div id="loginIncorrect" style="visibility:hidden; color: #C94B50; font-size:18px;">
                CUIT o Clave Incorrecta.
              </div>
          </div>
          <div id="signup"></div>
      </div>      
  </div>  


