<script>
function fillReadUseridMainMenuHeader(result_found, data)
{
  if (result_found > 0)
  {
    document.getElementById("templateViewLoginDataUserForUserIdMainMenuHeader").innerHTML = "";
    var itemTemplateHTML =   document.getElementById("templateLoginDataUserForUserIdMainMenuHeader").innerHTML;
    document.getElementById("templateViewLoginDataUserForUserIdMainMenuHeader").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillReadUserForIdItem );
  }
  else
  {
    document.getElementById("templateViewLoginDataUserForUserId").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; Usuario no encontrado</j></tr>';
  }
}

function failReadUseridMainMenuHeader()
{
  document.getElementById("templateViewLoginDataUserForUserId").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; Usuario no encontrado</j></tr>';
}

function signOutApp()
{
  removeClassElement( 'bodyProject' );
  URL_NAVIGATE = "bodies/app_login.html";
  showSectionContent(URL_NAVIGATE, "#bodyProject", "bodyProject");
}

function logoutAppCallback( result_found, data )
{
  URL_NAVIGATE = PROJECT_URL+"bodies/app_login.html";
  showSectionContent(URL_NAVIGATE, "#bodyProject", "bodyProject");
}

$(document).ready(function ()
{ 
  readUserForId( '37', fillReadUseridMainMenuHeader, failReadUseridMainMenuHeader, workingDesignPopupFNCallback );
});

</script>


<header class="main-header">
    <!-- Logo -->
    <a class="logo" style="font-size:22px; font-weight:bold;"> Nextware
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img style="height: 45px; width: 40px;"></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img style="height: 45px; width: 110px;"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="font-size:24px;">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div id="templateViewLoginDataUserForUserIdMainMenuHeader"></div>
      <div id="templateLoginDataUserForUserIdMainMenuHeader" style="display:none;">
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
              <li class="dropdown user user-menu" style="cursor:pointer; padding: 7px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="font-size:22px;">
                      <img src="images/maxi.PNG" class="user-image" alt="User Image">
                      <span class="hidden-xs">|NAME_LAST_NAME|</span>
                    </a>
                <ul class="dropdown-menu">
                  <li class="user-header" style="background-color: #E7E7E7;">
                    <img src="images/maxi.PNG" class="img-circle" alt="User Image">
                    <p>
                      |NAME_LAST_NAME|
                      <br>
                      <u style="font-size: 14px;">Categoría:</u> <j style="font-size: 14px;">|CATEGORY_TYPE|</j>
                      <br>
                      <u style="font-size: 14px;">Monto permitido:</u> <j style="font-size: 14px;">|AMOUNT|</j>
                    </p>
                  </li>
                  <li class="user-body">
                    <div class="row">
                      <div class="col-xs-4 text-center">
                      </div>
                      <div class="col-xs-4 text-center">
                      </div>
                      <div class="col-xs-4 text-center">
                      </div>
                    </div>
                  </li>
                  <li class="user-footer">
                    <div class="pull-left">
                      <!--<a href="#" disabled class="btn btn-default btn-flat" onclick="showMain_Menu_Profile();">Perfil</a>-->
                    </div>
                    <div class="pull-right">
                      <a onclick="signOutApp();" class="btn btn-default btn-flat">Cerrar Sesión</a>
                    </div>
                  </li>
                </ul>
              </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>