<script>
    function switchViews(PARAMETER)
        {
            if ( PARAMETER == CENTER_COL )
            {
                    loadPage("./views/logged_user_main_menu_profile_edit.html", "#content-center", "Y");
                    loadPage("./views/logged_user_main_menu_leaderboard.html", "#content-center", "Y");
            }      
            if ( PARAMETER == DEFAULT )
            {
                    loadPage("./views/logged_user_main_menu_invoice_data_add.html", "#content-col-left", "N");
                    loadPage("./views/logged_user_main_menu_invoice_list.html", "#content-col-left", "Y");
            }
            
        }
    $(document).ready(function ()
    {
        switchViews(DEFAULT);
    });
        
</script>

<section class="content" >
    <div class="row">

        <section id="content-col-left" class="col-lg-9 connectedSortable ui-sortable"></section>
        <section id="content-col-left" class="col-lg-9 connectedSortable"></section>
        
        <section id="content-center" class="col-md-auto connectedSortable ui-sortable"></section>
        <section id="content-center" class="col-md-auto connectedSortable"></section>
    </div>

</section>