<script>
  /*$(function () {
    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();
  });*/


  function saveInvoiceCallback()
  {
      alert("Factura agregada con éxito.");
      clearScreen();
      ListTotalBilledInvoices( '37',fillListTotalBilledInvoices, failListTotalBilled, workingDesignPopupFNCallback );

      listTotalBilledInvoicesBiAnnual( '37',fillListTotalBilledInvoicesBiAnnual, failListTotalBilledBiAnnual, workingDesignPopupFNCallback );

      listTotalBilledInvoicesAnnual( '37',fillListTotalBilledInvoicesAnnual, failListTotalBilledAnnual, workingDesignPopupFNCallback );
  }

  function saveInvoiceError()
  {
      alert("Error al guardar Factura.");
  }

  function workingDesignPopupLoginFNCallback()
  {
      alert("Estamos trabajando.");
  }


   function showConfirmation()
   {
        var invoicePeriodId = document.getElementById('invoicePeriodSelect').value;
        var invoiceDate =  '25/04/2019';
        var invoicePointSale =  document.getElementById('invoicePointSale').value;
        var invoiceAmount =  document.getElementById('invoiceAmount').value;
        var invoiceNroInvoice =  document.getElementById('invoiceNroInvoice').value;

        addInvoice( '37', invoicePeriodId, invoiceDate, invoicePointSale, invoiceAmount, invoiceNroInvoice, saveInvoiceCallback, saveInvoiceError, workingDesignPopupLoginFNCallback );
   }

  function clearScreen()
  {
    document.getElementById('invoiceDate').value = '';
    document.getElementById('invoiceAmount').value = '';
    document.getElementById('invoiceNroInvoice').value = '';
  }

</script>

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <!-- /.col -->
              <div class="col-md-auto">
                <!-- Profile Image -->

                          <div class="box-header with-border">
                            <h3 class="box-title">Ventas</h3>
                          </div>
             
                <div class="form-group">
                  <label>Seleccione Periodo</label>
                  <select id="invoicePeriodSelect" class="form-control select2" style="width: 50%;">
                    <option value="13">1-2019</option>
                    <option value="14">2-2019</option>
                    <option value="15">3-2019</option>
                    <option value="16">4-2019</option>
                    <option value="17">5-2019</option>
                    <option value="18">6-2019</option>
                  </select>
                </div>
                <!-- /.box -->
              </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <div class="tab-content">
              <div class="active tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label style="display:none;" for="inputName" class="col-sm-2 control-label">Fecha</label>
                    <div class="col-sm-10">
                      <input style="display: none;" id="invoiceDate" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputUserName" class="col-sm-2 control-label">Monto</label>

                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="text" id="invoiceAmount" class="form-control" placeholder="0.00">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Punto de venta</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="invoicePointSale" placeholder="Nº">
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Nº Factura</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="invoiceNroInvoice" placeholder="Nº">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" class="btn bg-blue" onclick="showConfirmation();"data-toggle="modal">Cargar</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        <!-- /.col -->
      </div>
   </div>
</div>
      
		   </div>
</div>