<script>
 /* $(function () {
    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();
  });*/

  function saveOutvoiceCallback(){
      alert("Factura de compra efectuada con exito.");
      clearScreen();
      ListTotalBilledOutvoices( '37', fillListTotalBilledOutvoices, failListTotalBilled, workingDesignPopupFNCallback );
  }

  function saveOutvoiceError()
  {
    alert("Error al crear compra.");
  }

  function workingDesignPopupLoginFNCallback()
  {
      alert("Estamos trabajando.");
  }

  function showConfirmation()
  {
        var outvoicePeriodId =  document.getElementById('outvoicePeriodSelect').value;
        var outvoiceDate =  '25/04/2019';
        var outvoiceAmount =  document.getElementById('outvoiceAmount').value;

        addOutvoice( '37', outvoicePeriodId, outvoiceDate, outvoiceAmount, saveOutvoiceCallback, saveOutvoiceError, workingDesignPopupLoginFNCallback );
  }

  function clearScreen(){
    document.getElementById('outvoiceDate').value = '';
    document.getElementById('outvoiceAmount').value = '';
  }

</script>

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
        <!-- /.col -->
      <div class="col-md-auto">
          <!-- Profile Image -->

                    <div class="box-header with-border">
                      <h3 class="box-title">Compras</h3>
                    </div>
          
          <div class="form-group">
            <label>Seleccione Periodo</label>
            <select id="outvoicePeriodSelect" class="form-control select2" style="width: 50%;">
              <option value="13">1-2019</option>
              <option value="14">2-2019</option>
              <option value="15">3-2019</option>
              <option value="16">4-2019</option>
              <option value="17">5-2019</option>
              <option value="18">6-2019</option>
            </select>
          </div>
          <!-- /.box -->
        </div>
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <div class="tab-content">
              <div class="active tab-pane" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label style="display:none;" for="inputName" class="col-sm-2 control-label">Fecha</label>
                    <div class="col-sm-10">
                      <input style="display:none;" id="outvoiceDate" type="text" class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="dd/mm/yyyy">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputUserName" class="col-sm-2 control-label">Monto</label>

                    <div class="col-sm-10">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                        <input type="text" id="outvoiceAmount" class="form-control" placeholder="0.00">
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" class="btn bg-blue" onclick="showConfirmation();"data-toggle="modal">Cargar</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        <!-- /.col -->
      </div>
   </div>
</div>
      
		   </div>
</div>