<script>
 /* $(function () {
    //Datemask dd/mm/yyyy
    $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
    //Datemask2 mm/dd/yyyy
    $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
    //Money Euro
    $("[data-mask]").inputmask();
  });*/

 $(document).ready(function()
  {
    ListTotalBilledInvoices( '37',fillListTotalBilledInvoices, failListTotalBilled, workingDesignPopupFNCallback );

    listTotalBilledInvoicesBiAnnual( '37',fillListTotalBilledInvoicesBiAnnual, failListTotalBilledBiAnnual, workingDesignPopupFNCallback );

    listTotalBilledInvoicesAnnual( '37',fillListTotalBilledInvoicesAnnual, failListTotalBilledAnnual, workingDesignPopupFNCallback );
  });

 function fillListTotalBilledInvoicesBiAnnual(result_found, data)
  {
    if (result_found > 0)
    {
        document.getElementById("totalBiAnnual").innerHTML = '$'+' '+ data['content'][0]['READ_INVOICES_BILLEDBIANNUALPERIODS_DATA']['READ_INVOICES_BILLEDBIANNUALPERIODS_TOTAL_BIANNUAL'];
        document.getElementById("ParameterBiAnnualRecategorization").innerHTML = '$'+' '+ data['content'][0]['READ_INVOICES_BILLEDBIANNUALPERIODS_DATA']['READ_INVOICES_BILLEDBIANNUALPERIODS_PARAMETER_BIANNUAL_RECATEGORIZATION']; 
        document.getElementById("TotalSupassed").innerHTML = '$'+' '+ data['content'][0]['READ_INVOICES_BILLEDBIANNUALPERIODS_DATA']['READ_INVOICES_BILLEDBIANNUALPERIODS_TOTAL_SURPASSED'];
        var totalSupassed = document.getElementById("TotalSupassed").innerHTML;
        
        if (totalSupassed != '$ 0.00')
        {
          document.getElementById("TotalSupassed").style.fontWeight = 'bold';
          document.getElementById("TotalSupassed").style.color = '#CA0500'; 
        }
    }
    else
    {
        document.getElementById("totalBiAnnual").innerHTML = '$'+' '+'00';
        document.getElementById("ParameterBiAnnualRecategorization").innerHTML = '$'+' '+'00';
        document.getElementById("TotalSupassed").innerHTML = '$'+' '+'00';
    }
  }

  function failListTotalBilledBiAnnual(){
      alert("No data loaded in the data base.")   
  }

  function fillListTotalBilledInvoicesAnnual(result_found, data)
  {
    if (result_found > 0)
    {
        document.getElementById("totalAnnual").innerHTML = '$'+' '+ data['content'][0]['READ_INVOICES_BILLEDANNUALPERIODS_DATA']['READ_INVOICES_BILLEDANNUALPERIODS_TOTAL_ANNUAL'];
        document.getElementById("limitCategory").innerHTML = '$'+' '+ data['content'][0]['READ_INVOICES_BILLEDANNUALPERIODS_DATA']['READ_INVOICES_BILLEDANNUALPERIODS_LIMIT_BY_CATEGORY']; 
        //document.getElementById("annualSupassed").innerHTML = '$'+' '+ data['content'][0]['READ_INVOICES_BILLEDANNUALPERIODS_DATA']['READ_INVOICES_BILLEDANNUALPERIODS_TOTAL_SURPASSED'];
        var annualSupassed = document.getElementById("annualSupassed").innerHTML;
        
        if (annualSupassed != '$ 0.00')
        {
          document.getElementById("annualSupassed").style.fontWeight = 'bold';
          document.getElementById("annualSupassed").style.color = '#CA0500'; 
        }
    }
    else
    {
        document.getElementById("totalAnnual").innerHTML = '$'+' '+'00';
        document.getElementById("limitCategory").innerHTML = '$'+' '+'00';
        document.getElementById("annualSupassed").innerHTML = '$'+' '+'00';
    }
  }

  function failListTotalBilledAnnual(){
      alert("No data loaded in the data base.")   
  }


  function fillListTotalBilledInvoices(result_found, data)
  {
    if (result_found > 0)
    {
        var itemTemplateHTML =   '<tr>'
                                    +'<td scope="col" class="FN_table_cells" align="center">|READ_INVOICES_BILLEDALLPERIODS_PERIOD_TYPE|</td>'
                                    +'<td scope="col" class="FN_table_cells" align="center">$ |READ_INVOICES_BILLEDALLPERIODS_AMOUNT_TOTAL|</td>'
                                   // +'<td scope="col" class="FN_table_cells" align="center">$ |READ_INVOICES_BILLEDALLPERIODS_BIMONTHLY_AVERAGE|</td>'
                                   // +'<td id="templateAmountExceeded|NUMBER_RESULT|" scope="col" class="FN_table_cells" align="center"> |READ_INVOICES_BILLEDALLPERIODS_AMOUNT_EXCEEDED|</td>'
                                    //+'<td align="center"><button onclick="showPeriodDetails(|READ_INVOICES_BILLEDALLPERIODS_PERIOD_ID|);" type="button" class="btn btn-Primary" data-toggle="modal" data-target="#divIframeViewElementsActions"><i class="fa fa-fw fa-eye"></i></button></td>'
                                    +'<td align="center"><button onclick="" type="button" class="btn btn-Primary" data-toggle="modal" data-target="#divIframeViewElementsActions"><i class="fa fa-fw fa-eye"></i></button></td>'
                                +'</tr>';
        document.getElementById("contentListTableBody").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillListTotalBilledInvoicesListItem );

        /*for (x = 1; x <= result_found; x++) 
        {
          var amountExceeded = document.getElementById("templateAmountExceeded"+x).innerHTML; 
          if ( amountExceeded > 0 )
          {
            document.getElementById("templateAmountExceeded"+x).style.fontWeight = 'bold';
            document.getElementById("templateAmountExceeded"+x).style.color = '#CA0500';
          }
          document.getElementById("templateAmountExceeded"+x).innerHTML = '$ '+document.getElementById("templateAmountExceeded"+x).innerHTML;
        }*/
    }
    else
    {
      document.getElementById("contentListTableBody").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; No hay registros creados en base de datos</j></tr>';
    }
  }

  function failListTotalBilled(){
      alert("No data loaded in the data base.")   
  }

  function saveUserCallback(){
      alert("Usuario creado con éxito.");
  }

  function saveUserError(){
      alert("Error al crear usuario.");
  }

  function workingDesignPopupLoginFNCallback(){
      alert("Estamos trabajando.");
  }



  function showPeriodDetails(period_id_invoice)
  {
    document.getElementById("formTitle").innerHTML= 'Ver detalles de Ventas';
    document.getElementById("iFrameViewElementsActions").src = PROJECT_URL+'popup/logged_user_popup_show_details_invoices.php?PAR='+period_id_invoice;
    showElement("divIframeViewElementsActions");
  }

</script>
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="table-responsive-sm">
              <table class="table">
                <tr style="text-align:center;">
                  <th style="text-align:center">Periodo</th>
                  <th style="text-align:center">Total Periodo Facturado</th>
                  <!--<th style="text-align:center">Parámetro Mensual</th>-->
                  <th style="text-align:center">Ver detalles</th>
                </tr>
                <tbody id="contentListTableBody"></tbody>
              </table>
            </div>
        </div>
        <!--TOTALES -->
        <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="table-responsive-sm">
                <table class="table">
                  <tr>
                    <th style="text-align: center;">Total Semestral</th>
                    <th style="text-align: center;">Parámetro Semestral s/Recategorización</th>
                    <th style="text-align: center;">Total Desvío</th>
                  </tr>
                  <tbody id="contentListTableBody">
                    <tr>
                      <th id="totalBiAnnual" style="text-align: center;">$ -</th>
                      <th id ="ParameterBiAnnualRecategorization" style="text-align: center;">$ -</th>
                      <th id="TotalSupassed" style="text-align: center;">$ -</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-header">
                <div class="table-responsive-sm">
                  <table class="table">
                    <tr>
                      <th style="text-align: center;">Total Anualizado</th>
                      <th style="text-align: center;">Límite según Categoría</th>
                      <th style="text-align: center;">Desvío</th>
                    </tr>
                    <tbody id="contentListTableBodyAnnual">
                    <tr>
                      <th id="totalAnnual" style="text-align: center;">$ 00</th>
                      <th id ="limitCategory" style="text-align: center;">$ 00</th>
                      <th id="annualSupassed" style="text-align: center;">$ 00</th>
                    </tr>
                  </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
