<script>
  function fillReadUseridMainMenuLeft(result_found, data)
  {
    if (result_found > 0)
    {
      document.getElementById("templateViewLoginDataUserForUserId").innerHTML = "";
      var itemTemplateHTML =   document.getElementById("templateLoginDataUserForUserId").innerHTML;
      document.getElementById("templateViewLoginDataUserForUserId").innerHTML = fillListWithTemplate( data, itemTemplateHTML, fillReadUserForIdItem );
    }
    else
    {
      document.getElementById("templateViewLoginDataUserForUserId").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; Usuario no encontrado</j></tr>';
      logOutApp(logoutAppCallback, workingDesignPopupFNCallback);
    }
  }

  function failReadUseridMainMenuLeft()
  {
    document.getElementById("templateViewLoginDataUserForUserId").innerHTML = '<tr><j style="color:#0073b7; font-weight:bold;">&nbsp; Usuario no encontrado</j></tr>';
    logOutApp(logoutAppCallback, workingDesignPopupFNCallback);
  }

  function showInvoiceOutvoiceView()
  {
      showSectionContent("./views/logged_user_main_menu_invoice_list.html", "#content-col-left", "content-col-left");
     // loadPage("./views/logged_user_main_menu_invoice_list.html", "#content-col-left", "Y");
      loadPage("./views/logged_user_main_menu_out_list.html", "#content-col-left", "Y");
  }

  
  function showOutView()
  {
      showSectionContent("./views/logged_user_main_menu_out_data_add.html", "#content-col-left", "content-col-left");
      //loadPage("./views/logged_user_main_menu_out_list.html", "#content-col-left", "Y");
  }

  function showInvoiceView()
  {
      showSectionContent("./views/logged_user_main_menu_invoice_data_add.html", "#content-col-left", "content-col-left");
      //loadPage("./views/logged_user_main_menu_invoice_list.html", "#content-col-left", "Y");
  }
  function showTotalsView()
  {
      showSectionContent("./views/logged_user_main_menu_totals.html", "#content-col-left", "content-col-left");
  }

  $(document).ready(function ()
  { 
    readUserForId( '37', fillReadUseridMainMenuLeft, failReadUseridMainMenuLeft, workingDesignPopupFNCallback );
  });

</script>


<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="padding-top:15px;">
      <!-- Sidebar user panel -->
      <div id="templateViewLoginDataUserForUserId"></div>
      <div id="templateLoginDataUserForUserId" style="display:none;">
        <div class="user-panel" style="height: 120px;">
          <div class="pull-left image">
            <img src="images/maxi.PNG" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p style="color:#fff;" >&nbsp |NAME_LAST_NAME|</p>
            <a href="#"><i class="fa fa-circle text-success"></i><j style="font-size: 14px;">&nbsp Cuit: |CUIT|</j>
            <br>
            <br>
            <a href="#"><i class="fa fa-circle text-success"></i><j style="font-size: 14px;">&nbsp Categoría: |CATEGORY_TYPE|</j>
            <br>
            <br>
            <a href="#"><i class="fa fa-circle text-success"></i><j style="font-size: 14px;">&nbsp Monto: $ |AMOUNT|</j>
            

          </div>
           
        </div>
       
      </div>
      <div id="templateViewLoginMoreDataUserForUserId"></div>
      <ul class="sidebar-menu">
         <li class="header">Opciones</li>
         <li class="active treeview">
          <a href="#">
            <i class="fa fa-files-o"></i> <span>Mis acciones</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li ><a  onclick="showInvoiceOutvoiceView()"><i class="fa fa-circle-o"></i> Ventas|Compras</a></li>
            <li ><a  onclick="showInvoiceView()"><i class="fa fa-circle-o"></i>Fact. Ventas</a></li>
            <li ><a  onclick="showOutView()"><i class="fa fa-circle-o"></i>Fact. Compras</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a onclick="showTotalsView()">
            <i class="fa fa-files-o"></i>
            <span>Totales</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>