<style>
#viewerModeButton:hover
{
    opacity: 0.5;
}

.inputTextGold:focus 
{ 
    border:1px solid;
    box-shadow: 0 0 15px #006285;
    border-color: #006285;
}

.sendUserAndPassButtonStyle
{
  height: 40px; 
  width: 100%; 
  color: #FFF;  border:1px solid; 
  border-color: #006285; 
  cursor: pointer; 
  background-color:#006285; 
  text-align: center; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select:none;
}

.sendUserAndPassButtonStyle:hover
{
  box-shadow: 0 0 15px #006285;
  border-color: #006285;
}

</style>



<script> 

function getDataLogin()
{
    addClassElement( 'bodyProject', 'hold-transition skin-blue sidebar-mini' );
     URL_NAVIGATE = "bodies/app_users.html";
     showSectionContent(URL_NAVIGATE, "#bodyProject", "bodyProject");
}

function loginCallback(data)
{
     addClassElement( 'bodyProject', 'hold-transition skin-blue sidebar-mini' );
     URL_NAVIGATE = PROJECT_URL+"bodies/app_users.html";
     showSectionContent(URL_NAVIGATE, "#bodyProject", "bodyProject");
}

function workingDesignPopupLoginFNCallback()
{
    showElement("divIframeView");
}

function incorrectLogin(data)
{
  var message = data['message'];
  document.getElementById('loginIncorrect').innerHTML = message;
  visibilityElement('loginIncorrect');
}

$(".Click-here").on('click', function()
{
  $(".custom-model-main").addClass('model-open');
}); 
$(".close-btn, .bg-overlay").click(function()
{
  $(".custom-model-main").removeClass('model-open');
});


$(document).ready(function ()
{
  //  $("#userCuit").inputmask({"mask": "99-99999999-9"});
});

</script>
     
  <head>
    <link rel="stylesheet" href="./assets/login/css/style.css">
  </head>

  <div class="form" style="height: 300px;">
      <div class="tab-content">
          <div id="login">   
              <div class="field-wrap">
                <label>
                  CUIT<span class="req"> *</span>
                </label>
                <input class="inputTextGold" id="userCuit" type="" autocomplete="false"/>
              </div>
              <div class="field-wrap">
                <label>
                  Clave<span class="req"> *</span>
                </label>
                <input class="inputTextGold" id="userPass" type="password" autocomplete="false"/>
              </div>
              <input readonly value="Ingreso" class="sendUserAndPassButtonStyle" id="sendUserAndPassButton" onclick="getDataLogin();"/>
              <br>
              <div id="loginIncorrect" style="visibility:hidden; color: #C94B50; font-size:18px;">
                CUIT o Clave Incorrecta.
              </div>
          </div>
          <div id="signup"></div>
      </div>      
  </div>  

<!--TODO: Popup FN-WORKING -->
<!--<div id="divIframeView" class="iframe_fn_working" style="display: none;">
      <div class="fn_working_background">
          <div class="box-icon">
              <a onclick="closeElement('divIframeView');" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        <iframe id="iFrameView" width="550" height="430" src="../FNWORKING/workingFN.html" scrolling="no" frameborder="no"></iframe>
      </div>
</div>-->

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="./assets/login/js/index.js"></script>


